body {
  background-color:thistle;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

img {
  border: 10px solid cornflowerblue;
  width: 50%;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 10px;
}

.column {
  margin: 20px;
  padding: 20px;
  width: 30%;
  float: left;
  font-family: serif;
  overflow: auto;
  border: 10px solid cornflowerblue;
  column-width: 20%;
  text-align: center;
}

h2 {
  text-align: center;
}

