body {
  background-color:thistle;
  font-family: sans-serif;
}

img {
  margin: auto;
  border: 10px solid cornflowerblue;
}

h1 {
  text-align: center;
}

.column {
  margin: 20px;
  padding: 20px;
  width: 30%;
  float: left;
  font-family: serif;
  overflow: auto;
  border: 10px solid cornflowerblue;
}

