body {
  background-color:thistle;
  font-family: fantasy;
}

h1 {
  text-align: center;
  border: 10px solid cornflowerblue;
  background: pink;
}


img {
  border: 10px solid cornflowerblue;
  width: 50%;
  height: auto;
  margin: auto;
  margin-bottom: 10px;
  display: block;
}

ul {
  display: table; 
  margin: 0 auto;
  text-align: left;
}

.column {
  margin: 20px;
  padding: 20px;
  width: 30%;
  float: left;
  overflow: auto;
  border: 10px solid cornflowerblue;
  column-width: 20%;
  font-family: sans-serif;
  font-style: normal;
  background:pink;
  box-sizing: border-box;
}

p {
  text-align: center;
}

h2 {
  text-align: center;
}

